
:root {
    --primary-color: #121212;
    --gray-color: #747474;
    --header-color: #9EAB88;
    --footer-color: #07272D;
    --yellow: #F2C01F;
  }

  @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

$primary-font-family  :  'Noto Sans', Arial, Helvetica, sans-serif;
$secondary-font-family     : 'Saira', Arial, Helvetica, sans-serif;